.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1280px;
    height: 100px;
    
}

.button_menu_style{
    color: rgb(255, 107, 175);
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    
    
}

#logo{
    font-size: 2.75rem;;
}

.button_menu_hover:hover {
    color:#9a5776;
    text-decoration: underline;
}
.nav_menu{
    margin-left: 220px;
}

.nav_menu a:nth-child(n+2){
    margin-left: 60px;
}