.menu{
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    padding-left: 100px;
    
}

.button_menu{
    color: rgb(255, 107, 175);
    text-decoration: none;
    padding-right: 60px;
    margin-right: 1rem;
    
}

.button_hover:hover {
    color:#9a5776;
    text-decoration: underline;
}
.first_page{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.wallpaper{
    margin-left: 130px;
    width: auto;
    height: auto;
}
.main_text{
    margin-left: 30px;
}
.text_in{
    font-size: 4.5rem;
    color:rgb(255, 107, 175); 
    font-family: Verdana, Tahoma, sans-serif;
}