nav {
    display: inline-block;
    width: 660px;
    margin: 0 auto 30px;
}
.one ul {
    padding: 1em 0;
    background: #ECDAD6;
}
.one a {
    padding: 1em;
    background: rgba(177, 152, 145, .3);
    border-right: 1px solid #b19891;
    color: #695753;
}