body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 240, 247);
}

.cards_products{
    /* background-color: bisque; */
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;

}

.style_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 220px;
    height: 350px;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgb(227, 198, 198);
    padding-top: 5px;
}

.style_img{
    width: 205px;
    height: 225px;
    border-width: 4px;;
    border-radius: 10px;
    
}

.under_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: auto;
    /* border-width: 3px;
    border-style: dashed;
    border-color: aquamarine; */
    
}

.price{
    width: 205px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.inf_text{
    width: 205px;
    margin-top:5px;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.evaluation{
    width: 205px;
    margin-top:5px;
    display: flex;
    justify-content: start;
    align-items: start;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.feedback_img{
    width: 24px;
    height: 24px;
}

.button_script_first{
    width: 205px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top:5px;
    padding-bottom: 5px;
}

.button_buy_first{
    width: 68px;
    border: none;
    outline: 0;
    padding: 10px;
    color: #000000;
    background-color:rgb(242, 239, 239);
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
}

.button_script_second{
    width: 205px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top:5px;
    padding-bottom: 5px;
}

.button_buy_second{
    width: 50px;
    border: none;
    outline: 0;
    padding: 10px;
    color: #000000;
    background-color:rgb(242, 239, 239);
    text-align: center;
    cursor: pointer;
    /* width: 100%; */
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;; 
}

.count_position{
    width: 80px;
    background-color:rgb(242, 239, 239);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;

    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button_script_third{
    width: 205px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top:5px;
    padding-bottom: 5px;
}

.button_buy_third{
    width: 50px;
    border: none;
    outline: 0;
    padding: 10px;
    color: #000000;
    background-color:rgb(242, 239, 239);
    text-align: center;
    cursor: pointer;
    /* width: 100%; */
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
}

.trash_img{

    width: 10px;
    height: 10px;
}
