<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bag Store</title>
    <link href="static/shop/styles/main.css" rel="stylesheet"> 
</head>
<body>  
    <nav class="menu">
        <a href="#" class="button_menu"><h1>BagStore</h1></a>
        <a href="#" class="button_menu button_hover"><h3>Магазин</h3></a>
        <a href="#" class="button_menu button_hover"><h3>Корзина</h3></a>
    </nav>
    <section class="first_page">
        <div class="wallpaper">
            <img src="static/shop/images/woman.png" class="main_img">
        </div>
        <div class="main_text">
            <span class="text_in">Сумки, которые делают твой день лучше</span>
        </div>
    </section>
</body>
</html>
